- function addZ(n){return n<10? '0'+n:''+n;}
- function showDate(date){ if (date !== '') { return date.getFullYear()+'/'+addZ(date.getMonth()+1)+'/'+addZ(date.getDate()); } else return '';}
- category = ['Part Load - Commercial Goods', 'Full Truck Load - Commercial Goods', 'Household Goods', 'Personal Vehicle (Motorcycle/Cycle)', 'Container Movement', 'Plant Machinery/Industrial Goods', 'Cold Chain Goods', 'Documents', 'Relocation']

table#datatable-requests.table.table-striped
  thead
    tr
      th Picture
      th Material
      th Weight
      th From
      th To
      th Details
      th No. of Bids
      th Lowest Bid
      th
  tbody
    each request in requests
      tr
        td(data-order='#{request.pickup_date ? request.pickup_date.getTime() : ""}') #{request.pickup_date ? showDate(request.pickup_date) : ""}
        td #{category[request.category]}
        td !{request.total_weight ? request.total_weight + '&nbsp;kg' : '—'}
        td #{request.booking_point} #{request.booking_pincode}
        td #{request.delivery_point} #{request.delivery_pincode}
        td: a.btn.btn-primary.btn-sm(href='/request/ajax/#{request._id}', data-toggle='modal', data-target='#detailModal'): i.fa.fa-plus
        td -
        td -
        td: a.btn.btn-danger.btn-sm(href='/request/#{request._id}', data-toggle='modal', data-target='#bidModal') Place Bid
  tfoot
    tr
      th
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Material')
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Weight')
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='From')
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='To')
      th
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='No. of Bids')
      th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Lowest Bid')
      th

script.
  var dtInstance = $('#datatable-requests').dataTable({
    paging: true,
    ordering: true,
    info: true,
    order: [
      [0, 'desc']
    ]
  });
  var inputSearchClass = 'datatable-requests-search';
  var columnInputs = $('tfoot .' + inputSearchClass);

  columnInputs.keyup(function () {
    dtInstance.fnFilter(this.value, columnInputs.index(this));
  });
