extends ../layouts/main
block meta
  title Last Searches
block content
  .content
    .page-header
      h1 Last Searches
    .row
      .col-lg-2
        .panel.panel-default
          .panel-heading Filter
          .panel-body
            form#formFilter
              .form-group
                .row
                  .col-lg-6
                    label price
                    input.form-control.input-sm.datatable-requests-search(type='text', placeholder='from', name='priceFrom', value='#{priceFrom?priceFrom:""}')
                  .col-lg-6
                    label &nbsp;
                    input.form-control.input-sm.datatable-requests-search(type='text', placeholder='to', name='priceTo', value='#{priceTo?priceTo:""}')
              .form-group
                label Category
                select.form-control(name='category')
                  option(value='') All
                  each cat, index in ['Part Load - Commercial Goods', 'Full Truck Load - Commercial Goods', 'Household Goods', 'Personal Vehicle (Motorcycle/Cycle)', 'Container Movement', 'Plant Machinery/Industrial Goods', 'Cold Chain Goods', 'Documents', 'Relocation']
                    if (index+1 == category)
                      option(value='#{index+1}', selected) #{cat}
                    else
                      option(value='#{index+1}') #{cat}
      .col-lg-10
        #requests

  //table#example.table.table-striped
    thead
      tr
        th Pickup
        th Dispatch
        th Movement
        th From
        th To
        th Items
        th Weight
        th Value
        th

    tfoot
      tr
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Pickup')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Dispatch')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Movement')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='From')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='To')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Items')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Weight')
        th: input.form-control.input-sm.datatable-requests-search(type='text', placeholder='Value')
        th


block page_scripts
  script(src='js/ajax/form_filter.js')


//block page_scripts
  script.
    var dataTable = $('#datatable-requests').DataTable({
      paging: true,
      ordering: true,
      info: true,
      order: [
        [2, 'desc']
      ],
      processing: true,
      serverSide: true,
      ajax: {
        url: '/request/json',
        type: 'POST'
      },
      columns: [
        {data: "pickup_date"},
        {data: "mode_of_dispatch"},
        {data: "nature_of_movement"},
        {data: "booking_point"},
        {data: "delivery_point"},
        {data: "items"},
        {data: "total_weight"},
        {data: "total_value"},
        {data: "btn"}
      ]
    });



    dataTable.on('xhr', function () {
      var inputSearchClass = 'datatable-requests-search';
      var columnInputs = $('tfoot .' + inputSearchClass);
      columnInputs.keyup(function () {
        dataTable.fnFilter(this.value, columnInputs.index(this) + 1);
      });
      var json = dataTable.ajax.json();
      //alert(json.data.length + ' row(s) were loaded');
    });